timeout=1
show_cpu=-2
show_icon=true
show_label_freq=false
show_label_governor=false
show_warning=true
keep_compact=true
one_line=false
icon_color_freq=true
freq_unit=1
fontname=Trebuchet MS Bold 11

