[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/leosmith/Desktop/GBA Roms]
row=2
col=7

[/home/leosmith/Desktop/Global Talesrunner.desktop]
row=0
col=2

[/home/leosmith/Desktop/Backup]
row=5
col=0

[/home/leosmith/Desktop/Screenshots]
row=5
col=4

[/home/leosmith/Desktop/fantasque-sans-mono]
row=5
col=5

[/home/leosmith/Desktop/CMU materials]
row=4
col=7

[/home/leosmith/Desktop/Documents]
row=4
col=1

[/home/leosmith/Desktop/RoboDK.desktop]
row=4
col=4

[/home/leosmith/Desktop/ProtonVPN]
row=0
col=4

[/home/leosmith/Desktop/Elsword.desktop]
row=5
col=1

[/home/leosmith/Desktop/Cursors]
row=3
col=1

[/home/leosmith/Desktop/Microsoft Powerpoint 2010.desktop]
row=1
col=3

[/home/leosmith/Desktop/Nestle Cover Letter.docx]
row=4
col=3

[/home/leosmith/Desktop/Python Stuff(Cisco)]
row=1
col=4

[/home/leosmith/Desktop/TTF]
row=0
col=5

[/home/leosmith/Desktop/KritikaREBOOT.desktop]
row=6
col=7

[/home/leosmith/Desktop/OTF]
row=6
col=3

[/home/leosmith/Desktop/Requests]
row=3
col=4

[/home/leosmith/Desktop/Communication Skills]
row=1
col=1

[/home/leosmith/Desktop/Microsoft Excel 2010.desktop]
row=1
col=7

[/home/leosmith/Desktop/Misc Files]
row=3
col=3

[/home/leosmith/Desktop/Timetable Year 2 Semester 1.pdf]
row=2
col=5

[/home/leosmith/Desktop/Learning Java]
row=5
col=2

[/home/leosmith/Desktop/Conky Backup]
row=2
col=1

[/home/leosmith/Desktop/Archives]
row=4
col=0

[/home/leosmith/Desktop/geany-themes]
row=6
col=5

[/home/leosmith/Desktop/New Shit]
row=5
col=3

[/home/leosmith/Desktop/Stacer-1.1.0-x64.AppImage]
row=3
col=6

[/home/leosmith/Desktop/Webfonts]
row=3
col=5

[/home/leosmith/Desktop/Application]
row=3
col=0

[/home/leosmith/Desktop/Important Docs]
row=4
col=2

[/home/leosmith/Desktop/Rando Folder]
row=2
col=4

[/home/leosmith/Desktop/CMU Docs]
row=5
col=7

[/home/leosmith/Desktop/INsanity Flyff stuff]
row=3
col=2

[/home/leosmith/Desktop/Grant thingy]
row=1
col=2

[/home/leosmith/Desktop/Memes]
row=6
col=2

[/home/leosmith/Desktop/Helpful Stuff]
row=2
col=2

[/home/leosmith/Desktop/FocusWriter Theme]
row=6
col=1

[/home/leosmith/Desktop/keyring]
row=2
col=6

[/home/leosmith/Desktop/Opportunities]
row=6
col=6

[/home/leosmith/Desktop/Microsoft Outlook 2010.desktop]
row=0
col=3

[/home/leosmith/Desktop/Folder for Windows]
row=3
col=7

[/home/leosmith/Desktop/Pictures or Screenshots]
row=5
col=6

[/home/leosmith/Desktop/Microsoft OneNote 2010.desktop]
row=0
col=7

[/home/leosmith/Desktop/steam.desktop]
row=0
col=6

[/home/leosmith/Desktop/Microsoft Word 2010.desktop]
row=2
col=3

[/home/leosmith/Desktop/print.pdf]
row=1
col=6

[/home/leosmith/Desktop/SoulWorker.desktop]
row=4
col=6

[/home/leosmith/Desktop/Books]
row=6
col=0

[/home/leosmith/Desktop/Text Files]
row=1
col=5

[/home/leosmith/Desktop/Some Nice Info]
row=6
col=4

[/home/leosmith/Desktop/Cisco Stuff]
row=0
col=1

[/home/leosmith/Desktop/Workshop]
row=4
col=5

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/leosmith]
row=2
col=0

